.tnc{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #00bcd4;
    color: #fff;
    padding: 10px 40px 30px 30px;
    text-align: center;
}
.tnc div {
    text-align: left;
}
@media (max-width: 600px) {

    .tnc{
        margin: 0;
        padding: 0;
        width: 100%;
        padding-top: 10px;
        
    }
    .tnc div{
        margin: 0px 10px;
    }

}